<div class="menu-container" align="center">
    <div class="button-container">
       <a id="11" onclick="myFunction(this)" class="button"></a>
       <a id="12" onclick="myFunction(this)" class="button"></a>
       <a id="13" onclick="myFunction(this)" class="button"></a>
       <a id="14" onclick="myFunction(this)" class="button"></a>
       <a id="15" onclick="myFunction(this)" class="button"></a>
       <a id="21" onclick="myFunction(this)" class="button"></a>
       <a id="22" onclick="myFunction(this)" class="button"></a>
       <a id="23" onclick="myFunction(this)" class="button"></a>
       <a id="24" onclick="myFunction(this)" class="button"></a>
       <a id="25" onclick="myFunction(this)" class="button"></a>
       <a id="31" onclick="myFunction(this)" class="button"></a>
       <a id="32" onclick="myFunction(this)" class="button"></a>
       <a id="33" onclick="myFunction(this)" class="button"></a>
       <a id="34" onclick="myFunction(this)" class="button"></a>
       <a id="35" onclick="myFunction(this)" class="button"></a>
       <a id="41" onclick="myFunction(this)" class="button"></a>
       <a id="42" onclick="myFunction(this)" class="button"></a>
       <a id="43" onclick="myFunction(this)" class="button"></a>
       <a id="44" onclick="myFunction(this)" class="button"></a>
       <a id="45" onclick="myFunction(this)" class="button"></a>
       <a id="51" onclick="myFunction(this)" class="button"></a>
       <a id="52" onclick="myFunction(this)" class="button"></a>
       <a id="53" onclick="myFunction(this)" class="button"></a>
       <a id="54" onclick="myFunction(this)" class="button"></a>
       <a id="55" onclick="myFunction(this)" class="button"></a>
    </div>
</div> 

<div class="spymaster-container">
	<div  align="center" >
	<button onclick="spymaster()" class="spymaster">Spymaster</button>
	</div>
</div>

<div class="nieuwspel-container">
	<div align="center">
	<button onclick="Client.nieuwspel()" class="nieuwspel">Nieuw spel</button>
	</div>
</div>