<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <!-- Ensure that everything scales appropriately on a mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=0.1, user-scalable=yes, minimum-scale=0.3, maximum-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="css/index_style.css">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
</head>

<body id = "body">

<div id="lobby-container" align="center">
</div>

<div id="includedContent"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="spel_cn.js"></script>
<script src="client_cn.js"></script> 


</body>
</html>
